<app-card [nomeTela]="nomeTela" [nomeAcao]="nomeAcao" [enderecoTela]="enderecoTela" [botao]="botao"></app-card>

<form class="fundoBranco">

  <div class="form-group row">

    <div class="col">
      <label for="cliente" class="col-form-label">Cliente</label>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle width_100" type="button" id="cliente" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cliente
        </button>
        <div class="dropdown-menu" aria-labelledby="cliente">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>

    <div class="col">
      <label for="tipoDeVeiculo" class="col-form-label">Tipo Veículo</label>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle width_100" type="button" id="tipoDeVeiculo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tipo Veículo
        </button>
        <div class="dropdown-menu" aria-labelledby="tipoDeVeiculo">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>

    <div class="col">
      <label for="marca" class="col-form-label">Marca</label>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle width_100" type="button" id="marca" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Marca
        </button>
        <div class="dropdown-menu" aria-labelledby="marca">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>

  </div>
  
  
  <div class="form-group row">

    <div class="col">
      <label for="modelo" class="col-form-label">Modelo</label>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle width_100" type="button" id="modelo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Modelo
        </button>
        <div class="dropdown-menu" aria-labelledby="modelo">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>

    <div class="col">
      <label for="ano" class="col-form-label">Ano</label>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle width_100" type="button" id="ano" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ano
        </button>
        <div class="dropdown-menu" aria-labelledby="ano">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>

    <div class="col">
      <label for="cor" class="col-form-label">Cor</label>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle width_100" type="button" id="cor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cor
        </button>
        <div class="dropdown-menu" aria-labelledby="cor">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>

  </div>
  
  <div class="form-group row">

    <div class="col-sm-3">
      <label for="placa" class="col-form-label">Placa</label>
      <input class="form-control" id="placa" placeholder="Placa">
    </div>

    <div class="col-sm-3">
      <label for="chassi" class="col-form-label">Chassi</label>
      <input class="form-control" id="chassi" placeholder="Chassi">
    </div>

    <div class="col-sm-3">
      <label for="vn" class="col-form-label">Vn</label>
      <input class="form-control" id="vn" placeholder="Vn">
    </div>

    <div class="col-sm-3">
      <label for="velocidadeMaximaAlerta" class="col-form-label">Velocidade Maxima Alerta</label>
      <input class="form-control" id="velocidadeMaximaAlerta" placeholder="Velocidade Maxima Alerta">
    </div>

  </div>

  <div class="form-group row">

    <div class="col-sm-6">
      <label for="tag" class="col-form-label">Tag</label>
      <input class="form-control" id="tag" placeholder="Tag">
    </div>

    <div class="col posicao-check-input">
      <div class="form-group row">

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="ativo">
          <label class="form-check-label" for="ativo">Ativo</label>
        </div>
        
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="chaveGeral">
          <label class="form-check-label" for="chaveGeral">Chave Geral</label>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <label for="referencia" class="col-form-label">Referência</label>
      <input class="form-control" id="referencia" placeholder="Referência">
    </div>

  </div>

</form>
<div>
  <a routerLink="/lista-veiculos">
      <button class="btn btn-info">Voltar</button>
  </a>
</div>
