<app-navbar></app-navbar>

<div class="conteudo-mensagem">
    <div class="lista-mensagens">
        <ng-container *ngFor="let item of mensagensCustomizada">
            <div class="mensagens">
                <div class="cabecalho-mensagens">
                    <div class="data-mensagens">Data: {{item.dataCadastro}}</div>
                    <div class="usuario-mensagens">Auto: Luiz Chequini</div>
                </div>
                <div class="texto-mensagem">
                    {{item.titulo}}
                </div>
            </div>
        </ng-container>
    </div>
</div>