<app-card [nomeTela]="nomeTela" ></app-card>

<div class="container">
    <!-- TRES COLUNAS -->
    <mat-form-field appearance="fill" class="trescol">
        <mat-label>Select me</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="trescol">
      <mat-label>Select me</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="trescol">
        <mat-label>Select me</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- TRES COLUNAS -->
    <mat-form-field appearance="fill" class="trescol">
        <mat-label>Select me</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="trescol">
      <mat-label>Select me</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="trescol">
        <mat-label>Select me</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- QUATRO COLUNAS -->
    <mat-form-field class="quatrocol" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>

      <mat-form-field class="quatrocol" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>

      <mat-form-field class="quatrocol" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>

      <mat-form-field class="quatrocol" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>
      
    <!-- DUAS COLUNAS -->
    <mat-form-field appearance="fill" class="duascol">
        <mat-label>Select me</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>
    
    <div class="quatrocol">
        <mat-slide-toggle>Slide me!</mat-slide-toggle>
        <mat-slide-toggle>Slide me!</mat-slide-toggle>
    </div>

    <mat-form-field appearance="fill" class="quatrocol">
        <mat-label>Select me</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>
</div>