<div class="conteudo_login">

    <form class="conteudo_form" [formGroup]="loginForm" (submit)="submitLogin()">
        
        <div class="logo">
            Logo
        </div>
        
        <div>
            <div>
                <input class="input_login" placeholder="Digite seu E-mail" type="email" formControlName="email"/>
            </div>
            <div class="mensagem_erro" *ngIf="email.errors?.['required'] && (email.touched || email.dirty)">
                Campo Email obrigatório
            </div>
            <div class="mensagem_erro" *ngIf="email.errors?.['email']">
                Formato do E-mail não é válido
            </div>
        </div>

        <div>
            <div>
                <input class="input_login" type="password" placeholder="Digite sua Senha" formControlName="senha"/>
            </div>
            <div class="mensagem_erro" *ngIf="senha.errors?.['required'] && (senha.touched || senha.dirty)">
                Campo Senha é obrigatório!
            </div>
        </div>

        <div>
            <button class="input-submit" [disabled]="!loginForm ? 'disabled' : null">Logar</button>
        </div>

    </form>
</div>