.conteudo_login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;

    .conteudo_form{
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 0 10px 0 gray;
        text-align: center;
        height: 350px;
        width: 400px;
        transition: all 0.5s ease-in-out;
    }

    .conteudo_form:hover{
        box-shadow: 0 0 30px 0 rgb(68, 68, 68);
    }
}

.input_login{
    background-color: #f6f6f6;
    border: none;
    color: #303030;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    width: 90%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.mensagem_erro{
    font-size: 14px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.input-submit{
    background-color: #8d448b;
    border: none;
    color: white;
    padding: 15px 0;
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 5px 10px 0 #8f2a8b;
    transition: all 0.3s ease-in-out;
    width: 60%;
    cursor: pointer;
}

.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 80px;
    background-color: #8d448b;
    border: none;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}